html {
    box-sizing: border-box; /*Prevents padding to ruin the page*/
    
}

body {
    margin: 0;
    min-height: 100vh; /*viewport height -> full height of the window*/
    background-color: dodgerblue;
}